@font-face {
    font-family: NotoSans-Bold;
    src: url(./assets/fonts/static/NotoSans-Bold.woff2);
}
@font-face {
    font-family: NotoSans-Medium;
    src: url(./assets/fonts/static/NotoSans-Medium.woff2);
}
@font-face {
    font-family: NotoSans-Regular;
    src: url(./assets/fonts/static/NotoSans-Regular.woff2);
}

:root{
    font-size: 16px;

    /*COLORS*/
    --bg-gradient-light : linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --bg-gradient-dark : linear-gradient(180deg, #040918 0%, #091540 100%);

    --bg-icons-light : hsl(0, 0%, 78%) ;
    --bg-icons-dark : hsl(225, 23%, 24%);

    --header-light : hsl(227, 75%, 14%);
    --header-dark : hsl(200, 60%, 99%);

    --btn-text-light : hsl(226, 25%, 17%);
    --btn-text-dark : hsl(0, 0%, 93%);

    --btn-text-active-light : hsl(0, 0%, 93%);
    --btn-bg-active : hsl(3, 77%, 44%);

    --btn-text-active-dark : hsl(227, 75%, 14%);
    --btn-bg-active-dark : hsl(3, 86%, 64%) ;

    --border-light : 1px solid hsl(226, 11%, 37%);
    --border-dark : 1px solid hsl(0, 0%, 78%);

    --card-p-light : hsl(226, 11%, 37%);
    --card-p-dark: hsl(0, 0%, 78%);

    --card-bg-light : white;
    --card-bg-dark : hsl(226, 11%, 37%); 

}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
}

html{
    --header-bg :var(--header-light) ;
    --header-icon-bg : var(--bg-icons-light) ;
    --body-bg : var(--bg-gradient-light);
    --btn-text : var(--btn-text-light);
    --btn-text-hover: var(--btn-text-active-light);
    --border-style: var(--border-light);
    --card-para-col : var(--card-p-light);
    --card-bg: var(--card-bg-light) ;
    
}

html.dark{
    --header-bg :var(--header-dark) ;
    --header-icon-bg : var(--bg-icons-dark) ;
    --body-bg : var(--bg-gradient-dark);
    --btn-text : var(--btn-text-dark);
    --btn-text-hover: var(--btn-text-active-dark);
    --border-style: var(--border-dark);
    --card-para-col : var(--card-p-dark);
    --card-bg: var(--card-bg-dark) ;
    
}
